/* TODO: Break this file into a few different css files */

@font-face {
  font-family: rdr;
  src: url(assets/fonts/rdrlino-regular-webfont.woff);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

#app {
  font-family: rdr;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  position: absolute;
  bottom: 60px;
  right: 60px;
  left: 60px;
}

.elapsed {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
}

.skip {
  font-size: 30px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  margin: 0 auto;
}

.background {
  background-color: var(--backgroundcolor);
  background-size: cover;
  background-image: var(--backgroundimage);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 100% 100%; */
  padding: 10px;
}

.wrapper {
  text-align: center;
  width: 100vw;
  height: 100vh;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  z-index: 999999;
}

.loader1 {
  display:inline-block;
  font-size:0px;
  padding:0px;
  vertical-align: middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.loader1 span {
  vertical-align:middle;
  border-radius:100%;
  
  display:inline-block;
  width:10px;
  height:10px;
  margin:3px 2px;
  -webkit-animation:loader1 0.8s linear infinite alternate;
  animation:loader1 0.8s linear infinite alternate;
}
.loader1 span:nth-child(1) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;

  background-color: var(--loadingcolor);
  opacity: 0.6;
}
.loader1 span:nth-child(2) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background-color: var(--loadingcolor);
  opacity: 0.8;
}
.loader1 span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
  background-color: var(--loadingcolor);
  opacity: 1;
}
.loader1 span:nth-child(4) {
  -webkit-animation-delay:-0.8s;
  animation-delay:-0.8s;
  background-color: var(--loadingcolor);
  opacity: 0.8;
 
}
.loader1 span:nth-child(5) {
  -webkit-animation-delay:-1s;
  animation-delay:-1s;
  background-color: var(--loadingcolor);
  opacity: 0.4;
}

@keyframes loader1 {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}

.loader3 {
  width:50px;
  height:50px;
  display:inline-block;
  padding:0px;
  text-align:left;
  vertical-align: middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.loader3 span {
  position:absolute;
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:100%;
  background-color: var(--loadingcolor);
  opacity: 1;
  -webkit-animation:loader3 1.5s linear infinite;
  animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
  animation-delay:-0.9s;
  -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
  0% {transform: scale(0, 0);opacity:0.8;}
  100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
  0% {-webkit-transform: scale(0, 0);opacity:0.8;}
  100% {-webkit-transform: scale(1, 1);opacity:0;}
}


.loader4 {
  width:45px;
  height:45px;
  display:inline-block;
  vertical-align: middle;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color:var(--loadingcolor);
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:var(--loadingcolor);
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader4 1s ease-in-out infinite;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@keyframes loader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}